#container {
    display: grid;
    grid-template-columns: repeat(var(--squareSide), var(--pixelSize));
    grid-auto-rows: var(--pixelSize);
    border: solid 1px black;
}

.pixel-borders {
    border: 1px dashed black;
}

#container div:hover {
    border: 1px dashed red;
}

:root {
    --squareSide: 4;
    --pixelSize: 200px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

body {
    background-color: antiquewhite;
}

.button {
    background-color: rgb(247, 203, 145);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 75px;
    border: solid 2px rgb(255, 196, 119);
    font-size: medium;
    font-family: serif;
}

.button:hover {
    background-color: rgb(255, 154, 71);
    border: solid 4px rgb(255, 136, 39);
    padding-left: 14px;
}

.pressed,
.button:active,
.pressed:hover {
    background-color: rgb(245, 97, 12);
    border-color: rgb(245, 90, 0);
}

#inputs {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    max-width: 800px;
}

input[type="color"] {
    padding: 0;
    border: 0;
    background: none;
    appearance: none;
    height: 35px;
    width: 35px;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

#inputs>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-picker {
    display: flex;
    align-items: center;
    background-color: rgb(247, 203, 145);
    border-radius: 5px;
}

p {
    margin: 0;
    padding: 0px 4px;
    font-size: medium;
    font-family: serif;
}

input[type="number"] {
    height: 28px;
}

#checkbox {
    position: absolute;
    top: 1%;
    left: 1%
}