#container {
    display: grid;
    grid-template-columns: repeat(var(--squareSide), var(--pixelSize));
    grid-auto-rows: var(--pixelSize);
}

#container div:hover {
    border: 1px dashed red;
}

:root {
	--squareSide: 4;
	--pixelSize: 200px;
}

input:active {
    background-color: blue;
}

.pressed {
    background-color: blue;
}