#container {
    display: grid;
    grid-template-columns: repeat(var(--squareSide), var(--pixelSize));
    grid-auto-rows: var(--pixelSize);
    border: solid 1px black;
}

#container div:hover {
    border: 1px dashed red;
}

:root {
    --squareSide: 4;
    --pixelSize: 200px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

body {
    background-color: antiquewhite;
}

.button {
    background-color: rgb(247, 203, 145);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    width: 75px;
    border: solid 2px rgb(255, 196, 119);
}

.button:hover {
    background-color: rgb(255, 154, 71);
    border: solid 4px rgb(255, 136, 39);
    padding-left: 14px;
}

.pressed,
.button:active,
.pressed:hover {
    background-color: rgb(245, 97, 12);
    border-color: rgb(245, 90, 0);
}

#inputs {
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 65%;
}

input[type="color"] {
    padding: 0;
    border: 0;
    background: none;
    appearance: none;
    height: 35px;
    width: 35px;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
}

#inputs div {
    display: flex;
    gap: 5px;
}